---
import { actions } from 'astro:actions';
import { db, Idea } from 'astro:db';
import Layout from '../layouts/default.astro';
import IdeaList from '../components/idea-list.astro';
import Callout from '../components/callout.astro';

export const prerender = false;

const title = 'Astro DB';

const ideas = await db.select().from(Idea);

const result = Astro.getActionResult(actions.ideas.save);
---

<Layout title={title}>
	<h1>{title}</h1>

	<form action="/api/toggle-auth" method="POST">
		<button type="submit">Log Out</button>
	</form>

	<section class="idea-form box">
		<h2>Add an idea</h2>

		{
			result && !result.error ? (
				<Callout icon="✅" iconDescription="green checkbox">
					<p>{result.data}</p>
				</Callout>
			) : null
		}

		{
			result && result.error ? (
				<Callout icon="🚨" iconDescription="alarm">
					<p>{result.error}</p>
				</Callout>
			) : null
		}

		<form method="POST" action={actions.ideas.save}>
			<label for="text">
				Idea
				<input type="text" name="text" id="text" required />
			</label>

			<fieldset>
				<legend>Is this idea any good?</legend>
				<label for="yes">
					<input type="radio" name="good" id="yes" value="true" />
					Yes
				</label>
				<label for="no">
					<input type="radio" name="good" id="no" value="false" />
					No
				</label>
			</fieldset>

			<button type="submit">Add</button>
		</form>
	</section>

	<section class="idea-lists flex">
		<IdeaList title="Good ideas" ideas={ideas.filter((idea) => idea.good)} />
		<IdeaList title="Bad ideas" ideas={ideas.filter((idea) => !idea.good)} />
	</section>
</Layout>
