---
import { Image } from 'astro:assets';
import { getCollection, type CollectionEntry } from 'astro:content';
import Layout from '../../layouts/default.astro';

export async function getStaticPaths() {
	const holidays = await getCollection('holidays');

	return holidays.map((holiday) => {
		return {
			params: { slug: holiday.slug },
			props: {
				holiday,
				holidays,
			},
		};
	});
}

export interface Props {
	holiday: CollectionEntry<'holidays'>;
	holidays: Array<CollectionEntry<'holidays'>>;
}

const { holiday, holidays } = Astro.props;
const { Content } = await holiday.render();
---

<Layout title={holiday.data.title}>
	<nav class="subnav flex">
		<a href="/holidays">&larr; All holidays</a>
		{holidays?.map((h) => <a href={`/holidays/${h.slug}`}>{h.data.title}</a>)}
	</nav>

	<figure>
		<Image
			src={holiday.data.image.src}
			alt={holiday.data.image.alt}
			width="800"
			height="500"
			loading="eager"
			transition:name={`holiday-img-${holiday.slug}`}
			transition:animate="initial"
		/>
		<figcaption>{holiday.data.image.credit}</figcaption>
	</figure>

	<h1
		transition:name={`holiday-title-${holiday.slug}`}
		transition:animate="initial"
	>
		{holiday.data.title}
	</h1>

	<Content />
</Layout>
