---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import Layout from '../../layouts/default.astro';

const holidays = await getCollection('holidays');
---

<Layout title="Holidays">
	<h1>Holidays</h1>

	<section class="holidays flex">
		{
			holidays.map(async (holiday) => {
				return (
					<div class="box">
						<Image
							src={holiday.data.image.src}
							alt={holiday.data.image.alt}
							width="800"
							height="500"
							transition:name={`holiday-img-${holiday.slug}`}
							transition:animate="initial"
						/>

						<h2
							transition:name={`holiday-title-${holiday.slug}`}
							transition:animate="initial"
						>
							<a href={`/holidays/${holiday.slug}`}>{holiday.data.title}</a>
						</h2>

						<p>{holiday.data.tags.map((tag) => `#${tag}`).join(' ')}</p>
					</div>
				);
			})
		}
	</section>
</Layout>
